
#load-page{
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  ion-spinner{
    --color:#fff;
    font-size: 50px;
  }
}

ion-button{
  text-transform:none!important;
  border-radius: 10px;
}
ion-toolbar{
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 16px;
}
ion-item, ion-card, ion-toolbar{
  --background: transparent !important;
  color: #fff;
}

#fitur{
  ion-searchbar{
    --background: rgb(var(--ion-color-light-rgb), 0.2);
    --color: #fff;
    --icon-color: #fff;
  }
}

#tabel-data{
  ion-item{
    border-radius: 15px;
    background-color: rgb(var(--ion-color-light-rgb), 0.2);
    margin: 10px;
    padding: 0px;
    text-align: left;
    --color-activated: #fff;
  }
}